<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>@ViewData["Title"] - DynamicOrm Demo Blog</title>
  <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/admin">Admin</a>
  </nav>
  <div class="container">
    @RenderBody()
  </div>
</body>

</html>
